body {
  margin: 0;
  font-family: "Trebuchet MS";
  /* font-family: Helvetica; */
  /* font-family: Verdana; */
  background-color: white;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: grey;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: black;
  color: white;
}

#left {
  width: 100px;
  float: left;
}
#right {
  margin-left: 150px;
  /* Change this to whatever the width of your left column is*/
}
.clear {
  clear: both;
}

.boxed {
    /* border: 1px solid green ; */
    background-color: white;
    padding: 20px;
    margin: 10px;
    width: 700px;
    /* border-radius: 10px; */
    /* -moz-border-radius: 20px; */
  }
