/* #wrap {
  width:500px;
  margin:0 auto;
  background:#9eeff4;
  height:10px;} */

body {
  margin: 0;
  font-family: 'Muli', san-serif;
  /* font-family: Helvetica; */
  /* font-family: Verdana; */
  background-color: white;
}

.container1 {
  width: 61%;
  height: 70%;
  margin: 10px auto;
}

.container2 {
  width: 65%;
  height: 70%;
  margin: 20px auto;
}

.topnav {
  overflow: hidden;
  background-color: #white;
}

.topnav a {
  float: left;
  color: #473E3C;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: lightgrey;
  color: black;
}

.topnav a.active {
  background-color: grey;
  color: white;
}

#left {
  width: 100px;
  float: left;
}
#right {
  margin-left: 150px;
  /* Change this to whatever the width of your left column is*/
}
.clear {
  clear: both;
}

.boxed {
    /* border: 1px solid green ; */
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 700px;
    /* border-radius: 10px; */
    /* -moz-border-radius: 20px; */
  }
